<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="6.3.0" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Smo.dll" version="1.0.1" targetFramework="net48" />
</packages>